body {
    position: relative;
    background-color: #333333;
}

/* Scrollspy section styles */
/*--------------------------*/
#welcome-section {
    padding-top:25px;
    height:630px;
    color: #fff;
    background-color: #3c3c3c;
}

#overview-section {
    padding-top:25px;
    height:600px;
    background-color: whitesmoke;
}

#gallery-section {
    padding-top:25px;
    height:600px;
    color: #fff; 
    background-color: #000;
}

#reservation-section {
    padding-top:25px;
    height:600px;
    color: #fff; 
    background-color: transparent;
}

#contact-section {
    padding-top:25px;
    height:650px;
    background-color: whitesmoke;
}

#login-section {
    padding-top:25px;
    height:600px;
    color: #fff; 
    background-color: transparent;
}
/*--------------------------*/

.dynamic-section{
    opacity: 0;
}

#site-footer{
    color: #777777;
}