textarea{
    resize: none;
}

.icons{
    width: 30px;
    height: 30px;
}

.popup-icons{
    width: 80px;
    height: 80px;
}

.header-icons{
    width: 45px;
    height: 45px;
}

.contactfrm-details{
    padding-left: 38px;
}

.contact-details-block{
    margin-top: 30px;
}

.btn-contactfrm, #btn-loginsubmit, .btn-signupfrm{
    width: 150px;
}

#btn-signup{
    height: 50px;
    border-radius: 200px;
    width: 200px;
}

.overview-images{
    border-style: inset;
}

.overview-row{
    padding-left: 80px;
    padding-top: 10px;
}

.modal{
    color: black;
}

.lbl-signup-errors, .lbl-errors{
    color: red;
}

.header-modals{
    display: inline-block;
}

.modal-body{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #00b300;
}

.modal-header{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #00b300;
}

#div-leftPane{
    background-color: whitesmoke;
    height: 500px;
    margin-left: 10px;
}
#div-rightPane{
    height: 500px;
}

.magic-display {
    opacity: 0;
}