@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
/* Styles of the tiles */
/*---------------------*/
.dynamicTile .col-sm-2.col-xs-4 {
    padding: 5px;
}

.tile{
    opacity: 1;
}

.tile:hover{
    -webkit-transform: scale(1.01);
    /*    -ms-transform: scale(1.01);
        transform: scale(1.01);*/
    opacity:0.9;
}

.bigicon {
    font-size: 67px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontext {
    color: white;
    font-size: 20px;
    font-family: Segoe UI;
}

.bigicondark {
    font-size: 67px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontextdark {
    color: black;
    font-size: 15px;
}

.row{
    padding: 5px;
}

.dynamicTile .col-sm-4.col-xs-8 {
    padding: 5px;
}

#tile1 {
    background: black;
}

#tile2 {
    background: black;
}

#tile3 {
    background: black;
}

#tile4 {
    background: black;
}

#tile5 {
    background: black;
}

#tile6 {
    background: black;
}

#tile7 {
    background: black;
}

#tile8 {
    background: black;
}

#tile9 {
    background: black;
}

#tile10 {
    background: black;
}

.tilecaption {
    position: absolute;
    top: 50%;
    /*    transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        margin: 0!important;
        text-align: center;*/
    color: whitesmoke;
    /*    -webkit-text-fill-color: black;  Will override color (regardless of order) 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;*/
    border-width: thick;
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 30px;
}

.small-tile-images{
    width: 800px;
}
/*---------------------*/

/* Set anchor tag cursor type to default. */
a {
    text-decoration: none !important;
    cursor: default;
}
